doctype html
html.
  <head>
    <title>Anime-Trivia-App</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <div>
    <h1>Welcome to Anime-Trivia-App!</h1>
    <p>The endpoint for random animes is "/random"</p>
    <p>Have Fun!</p>
  </div>